.sticky {
  display: block;
}

.post,
.page {
  margin: 0 0 0 0;
}

.updated:not(.published) {
  display: none;
}

.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0;
}

.page-links {
  clear: both;
  margin: 0 0 1.5em;
}

.home-banner {
  background: url(./assets/img/svg/bg-banner.svg);
  background-repeat: no-repeat;
  background-position: left center;
  padding: 8em 0 5em;
  p {
    max-width: 585px;
  }
  h1 {
    color: $black;
    font-size: 100px;
    line-height: 90px;
    margin: 0 0 30px;
  }
  h3 {
    color: $green;
    font-size: 40px;
    font-weight: 700;
  }
  .btn {
    max-width: 350px;
    width: 100%;
  }
  .box {
    align-items: flex-end;
    border-radius: 10px;
    display: flex;
    float: right;
    max-width: 489px;
    min-height: 730px;
    overflow: hidden;
    position: relative;
    text-align: center;
    .content {
      color: $white;
      position: relative;
      padding: 40px 15px;
      z-index: 1;
      h2 {
        color: $white;
        font-size: 60px;
        font-weight: 700;
        margin-bottom: 30px;
        line-height: 60px;
      }
    }
    img {
      position: absolute;
      left: 0;
      top: 0;
    }
    &::before {
      background-color: rgba(0, 0, 0, 0.25);
      content: "";
      height: 100%;
      left: 0;
      pointer-events: none;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 1;
    }
  }
}

.about {
  padding: 5em 0;
  background: url(./assets/img/svg/bg-about.svg);
  background-repeat: no-repeat;
  background-position: left 190px;
  .box-image {
    position: relative;
    &::before {
      background: rgba(255, 255, 255, 0.45);
      box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.37);
      backdrop-filter: blur(3px);
      content: "";
      height: 80%;
      right: 0;
      pointer-events: none;
      position: absolute;
      top: 10%;
      width: 195px;
      z-index: 1;
      -webkit-backdrop-filter: blur(3px);
    }
  }
  h2 {
    font-size: 60px;
    line-height: 60px;
  }

  .planos {
    margin-top: 130px;
    h2 {
      color: $black;
      margin-bottom: 60px;
    }
    .box {
      background-color: $white;
      border-bottom: 7px solid $green;
      border-radius: 15px 15px 0 0;
      box-shadow: 0 0 50px rgba(0, 0, 0, 0.25);
      margin-bottom: 60px;
      padding: 30px 30px 60px;
      .number {
        color: #f5f5f5;
        font-size: 100px;
        font-weight: 700;
        line-height: 80px;
        margin-bottom: -20px;
      }
      p {
        margin: 0;
      }
      h3 {
        color: $black;
        font-size: 40px;
        line-height: 50px;
        margin-bottom: 15px;
        span {
          display: block;
        }
      }
    }
  }
}
