.sticky {
  display: block;
}

.post,
.page {
  margin: 0 0 0 0;
}

.updated:not(.published) {
  display: none;
}

.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0;
}

.page-links {
  clear: both;
  margin: 0 0 1.5em;
}

.home-banner {
  background: url(./assets/img/svg/bg-banner.svg);
  background-repeat: no-repeat;
  background-position: left center;
  padding: 8em 0 5em;
  p {
    max-width: 585px;
  }
  h1 {
    color: $black;
    font-size: 100px;
    line-height: 90px;
    margin: 0 0 30px;
  }
  h3 {
    color: $green;
    font-size: 40px;
    font-weight: 700;
  }
  .btn {
    max-width: 350px;
    width: 100%;
  }
  .box {
    align-items: flex-end;
    border-radius: 10px;
    display: flex;
    float: right;
    max-width: 489px;
    min-height: 730px;
    position: relative;
    text-align: center;
    width: 100%;
    &:after {
      border: 1px solid #1d6237;
      border-radius: 30px;
      content: "";
      display: block;
      height: 100%;
      margin: -20px 20px;
      position: absolute;
      width: 100%;
      z-index: -1;
    }
    .content {
      color: $white;
      position: relative;
      padding: 40px 15px;
      z-index: 1;
      h2 {
        color: $white;
        font-size: 60px;
        font-weight: 700;
        margin-bottom: 30px;
        line-height: 60px;
      }
    }
    img {
      border-radius: 10px;
      position: absolute;
      height: 100%;
      object-fit: cover;
      object-position: center;
      pointer-events: none;
      width: 100%;
    }
    &::before {
      background-color: rgba(0, 0, 0, 0.25);
      border-radius: 10px;
      content: "";
      height: 100%;
      left: 0;
      pointer-events: none;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 1;
    }
  }
  @media screen and (max-width: 991px) {
    background-position: right bottom;
    padding: 5em 0;
    text-align: center;
    h1 {
      font-size: 50px;
      line-height: 50px;
    }
    h3 {
      font-size: 20px;
    }
    .box {
      max-width: 270px;
      min-height: 400px;
      .content {
        h2 {
          font-size: 30px;
          line-height: 30px;
        }
        p {
          font-size: 15px;
        }
        .btn {
          margin-bottom: 0;
        }
      }
    }
    .btn {
      border-radius: 8px;
      font-size: 15px;
      margin-bottom: 40px;
      max-width: 165px;
      padding: 9px 15px;
    }
  }
}

.about {
  padding: 5em 0;
  background: url(./assets/img/svg/bg-about.svg);
  background-repeat: no-repeat;
  background-position: left 190px;
  .box-image {
    position: relative;
    &::before {
      background: rgba(255, 255, 255, 0.45);
      box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.37);
      backdrop-filter: blur(5px);
      content: "";
      height: 80%;
      right: 0;
      pointer-events: none;
      position: absolute;
      top: 10%;
      width: 25%;
      z-index: 1;
      -webkit-backdrop-filter: blur(5px);
    }
  }

  h2 {
    font-size: 60px;
    line-height: 60px;
  }

  .btn-planos {
    font-size: 20px;
    text-decoration: none;
  }

  .planos {
    margin-top: 130px;
    h2 {
      color: $black;
      margin-bottom: 60px;
    }
    .box {
      background-color: $white;
      border-bottom: 7px solid $green;
      border-radius: 15px 15px 0 0;
      box-shadow: 0 0 50px rgba(0, 0, 0, 0.25);
      margin-bottom: 60px;
      transition: all 0.3s;
      &:hover {
        box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
        border-bottom-color: $dark-green;
      }
      a {
        display: block;
        color: $black;
        padding: 30px 30px 60px;
        text-decoration: none;
      }
      .number {
        color: #f5f5f5;
        font-size: 100px;
        font-weight: 700;
        line-height: 80px;
        margin-bottom: -20px;
      }
      p {
        margin: 0;
      }
      h3 {
        color: $black;
        font-size: 40px;
        line-height: 50px;
        margin-bottom: 15px;
        span {
          display: block;
          font-weight: 700;
        }
      }
    }
  }

  @media screen and (max-width: 767px) {
    padding: 0 0 5em;
    .box-image {
      width: calc(100% + 1.5rem);
      margin-left: -0.75rem;
      &::before {
        bottom: -15px;
        content: "";
        height: 30%;
        left: 10%;
        right: initial;
        pointer-events: none;
        position: absolute;
        top: initial;
        width: 80%;
      }
    }
    .planos {
      margin-top: 40px;
      .box {
        margin-bottom: 25px;
      }
      h2 {
        margin-bottom: 30px;
      }
    }
  }
  @media screen and (max-width: 991px) {
    h2 {
      font-size: 40px;
      line-height: 40px;
      margin-top: 50px;
      padding: 0 10px;
    }
  }
}

.testimonials {
  min-height: 800px;
  overflow: hidden;
  padding: 5em 0;
  position: relative;
  .overflow {
    overflow: hidden;
    .bg-image {
      display: none;
    }
  }
  .bg-image {
    height: 80%;
    margin-left: 50%;
    max-width: 50%;
    object-fit: cover;
    object-position: right;
    pointer-events: none;
    position: absolute;
    right: 0;
    width: 100%;
  }
  h2 {
    font-size: 60px;
    font-weight: 700;
  }
  .subtitle {
    color: $grey;
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
    max-width: 530px;
  }
  .swiper-button-disabled {
    opacity: 0.5;
  }

  @media screen and (max-width: 991px) {
    padding: 5em 0;
    h2 {
      font-size: 40px;
      font-weight: 700;
    }
    .subtitle {
      font-size: 16px;
      line-height: 20px;
    }
    .bg-image {
      display: none;
    }
    .overflow {
      .bg-image {
        display: block;
        height: initial;
        min-height: 280px;
        margin-bottom: -50px;
        margin-left: -1.5rem;
        max-width: calc(100% + 3rem);
        object-position: center;
        position: relative;
        width: calc(100% + 3rem);
      }
    }
  }
}

.partners {
  background: $green-gradients;
  padding: 5em 0;
}

.milestones {
  padding: 5em 0;
  h2 {
    font-size: 60px;
    &::first-line {
      font-weight: 700;
    }
  }
  p {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
  }
  .box {
    h3 {
      font-size: 70px;
    }
    p {
      font-weight: 400;
    }
  }
  @media screen and (max-width: 991px) {
    h2 {
      font-size: 40px;
    }
  }
}

.contact {
  padding: 5rem 0;
  &.bg-grey {
    background-color: $light-grey;
  }

  h2 {
    font-size: 60px;
    font-weight: 700;
    color: $green;
  }
  p {
    font-size: 18px;
  }

  @media screen and (max-width: 991px) {
    h2 {
      font-size: 40px;
    }
  }
}

.pages-banner {
  min-height: 620px;
  overflow: hidden;
  position: relative;
  img {
    position: absolute;
    min-height: 620px;
    margin-left: 50%;
    object-fit: cover;
    object-position: bottom;
    top: 0;
    transform: translateX(-50%);
    width: 100%;
    z-index: -1;
  }
  .title-banner {
    background-color: #ffffff;
    border-bottom: 7px solid $green;
    border-radius: 15px 15px 0 0;
    margin: 0;
    padding: 30px 0;
    h1 {
      font-size: 50px;
      font-weight: 700;
      line-height: 60px;
      margin: 0;
    }
    p {
      line-height: 30px;
      margin: 0;
    }
  }

  &.with-title {
    min-height: 725px;
  }

  @media screen and (max-width: 991px) {
    min-height: 455px;
    .title-banner {
      margin-bottom: 15px;
      h1 {
        font-size: 36px;
      }
      p {
        margin-bottom: 25px;
      }
    }
  }
}

.telemedicina-planos {
  position: relative;
  .row {
    padding: 2.5em 0;
    h2 {
      margin-left: 50px;
    }
    @media screen and (min-width: 768px) {
      &:nth-child(even) {
        h2 {
          margin-left: 0px;
        }
        .orders {
          order: -1;
          text-align: left !important;
        }
      }
    }
    @media screen and (min-width: 992px) {
      &:nth-child(even) {
        .orders {
          margin: 0 0 0 5%;
        }
      }
      .orders {
        margin-right: 5%;
      }
    }
  }
  .box-image {
    position: relative;
    &::before {
      background: rgba(255, 255, 255, 0.45);
      box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.37);
      backdrop-filter: blur(5px);
      content: "";
      height: 80%;
      right: -10px;
      pointer-events: none;
      position: absolute;
      top: 10%;
      width: 25%;
      z-index: 1;
      -webkit-backdrop-filter: blur(5px);
    }
  }

  .btn {
    border-radius: 0 15px 0 15px;
  }

  h2 {
    font-size: 50px;
    line-height: 50px;
    &::first-line {
      font-weight: 700;
    }
  }

  &:before {
    content: url(./assets/img/svg/bg-about.svg);
    position: absolute;
    top: -155px;
    z-index: -1;
  }

  @media screen and (max-width: 767px) {
    &:before {
      display: none;
    }
    .row {
      padding: 0 0 5em;
    }
    .box-image {
      width: calc(100% + 1.5rem);
      margin-left: -0.75rem;
      &::before {
        bottom: -15px;
        content: "";
        height: 30%;
        left: 5%;
        right: initial;
        pointer-events: none;
        position: absolute;
        top: initial;
        width: 90%;
      }
    }
    h2 {
      padding: 0 10px;
    }
  }

  @media screen and (max-width: 991px) {
    h2 {
      font-size: 40px;
      line-height: 40px;
      margin-top: 50px;
    }
  }
}

.faq {
  padding: 5em 0;
  .title {
    font-size: 60px;
    max-width: 425px;
    &::first-line {
      font-weight: 700;
    }
  }
  .subtitle {
    line-height: 20px;
  }

  .accordion {
    .accordion-item {
      border: 0;
      margin-bottom: 10px;
      .accordion-button {
        background: $green-gradients;
        color: $white;
        font-size: 18px;
        border-radius: 0 15px 0 15px;
        transition: all 0.3s;
        &.collapsed {
          background: $light-green;
          color: $black-neutral;
        }
        &::after {
          background: none;
          content: "+";
          transform: rotate(-180deg);
        }
        &:not(.collapsed)::after {
          background: none;
          content: "-";
        }
        &:focus {
          border: 0;
          box-shadow: none;
        }
      }
    }
  }

  @media screen and (max-width: 991px) {
    .title {
      font-size: 40px;
      text-align: center;
    }
    .subtitle {
      text-align: center;
    }
    .accordion {
      margin-top: 25px;
    }
  }
}

.about-insurance {
  background-color: $light-green;
  padding: 4em 0;
  overflow: hidden;
  position: relative;
  h2 {
    color: $green;
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 30px;
  }
  p {
    font-size: 20px;
    line-height: 20px;
    margin: 0;
  }

  .overflow {
    overflow: hidden;
    .bg-image {
      display: none;
    }
  }

  .bg-image {
    height: 100%;
    margin-left: 50%;
    max-width: 30%;
    object-fit: cover;
    object-position: right;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
  }
  @media screen and (max-width: 991px) {
    padding: 0 0 4em;
    text-align: center;
    h2 {
      font-size: 40px;
      line-height: 40px;
    }
    .bg-image {
      display: none;
      margin-bottom: 60px;
    }
    .overflow {
      .bg-image {
        display: block;
        height: initial;
        min-height: 280px;
        margin-left: -1.5rem;
        max-width: calc(100% + 3rem);
        object-position: center;
        position: relative;
        width: calc(100% + 3rem);
      }
    }
  }
}

.benefits {
  padding: 6em 0;
  h2 {
    color: $green;
    font-size: 60px;
    line-height: 60px;
    margin: 0 auto 40px;
    max-width: 535px;
    &::first-line {
      font-weight: 700;
    }
  }
  p {
    font-size: 27px;
    line-height: 30px;
    margin: 0;
  }
  @media screen and (max-width: 991px) {
    text-align: center;
    h2 {
      font-size: 40px;
      line-height: 40px;
    }
    p {
      font-size: 20px;
    }
  }
}

.cta {
  background: $green-gradients;
  padding: 3em 0;
  h2 {
    color: $white;
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 40px;
    &::first-line {
      font-weight: 700;
    }
  }
  .btn {
    background-color: $green;
    border-radius: 0 15px 0 15px;
    &:hover {
      background-color: $dark-green;
    }
  }
}

.team {
  padding: 5em 0;
  position: relative;
  &:before {
    content: "";
    background: $light-green;
    left: 0;
    min-height: 660px;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
  }
  h2 {
    font-size: 60px;
    line-height: 60px;
  }
  p {
    font-size: 30px;
    line-height: 30px;
  }

  .box {
    text-align: center;
    img {
      border-radius: 40px 0 40px 0;
      margin-bottom: 25px;
    }
    h3 {
      color: $green;
      font-size: 24px;
      font-weight: 700;
      margin: 0;
      line-height: 32px;
    }
    p {
      color: $dark-grey;
      font-size: 17px;
      font-weight: 700;
    }
  }

  @media screen and (max-width: 991px) {
    text-align: center;
    h2 {
      font-size: 40px;
      line-height: 40px;
    }
    p {
      font-size: 20px;
    }
  }
}
