form {
  label {
    width: 100%;
    margin-bottom: 25px;
  }

  input,
  select,
  textarea {
    width: 100%;
    &:focus {
      border-color: $green;
      outline: none;
    }
  }
  textarea {
    min-height: 125px;
  }

  input[type="submit"] {
    background-color: $green;
    border-color: $green;
    border-radius: 15px;
    font-size: 24px;
    color: $white;
    font-weight: 700;
    padding: 15px 10px;
    transition: all 0.3s;
    &:hover {
      background-color: $dark-green;
      border-color: $dark-green;
    }
  }

  .wpcf7-submit {
    max-width: 170px;
  }

  .wpcf7-not-valid-tip {
    position: absolute;
    font-size: 0.75em;
  }

  .wpcf7-spinner {
    position: absolute;
    margin-top: 15px;
  }

  .wpcf7-form-control-wrap.anexo {
    display: block;
    &:after {
      content: "+";
      background-color: $green;
      border-radius: 35px;
      color: $white;
      cursor: pointer;
      font-size: 30px;
      font-weight: 700;
      line-height: 70px;
      position: absolute;
      right: 1px;
      top: 1px;
      width: 70px;
    }
  }

  input[type="file"] {
    color: $color__text-input;
    border: 1px solid $color__border-input;
    border-radius: 35px;
    padding: 20px 35px;
    font-size: 20px;
    &::file-selector-button {
      display: none;
    }
  }
}
