body,
button,
input,
select,
optgroup,
textarea {
  color: $color__text-main;
  font-family: $font__main;
  font-size: 1rem;
  line-height: $font__line-height-body;
}

p {
  font-weight: 300;
  line-height: 20px;
  @media screen and (min-width: 1400px) {
    font-size: 20px;
  }
}

@import "headings";
@import "copy";
