.widget {
  margin: 0 0 1.5em;

  // Make sure select elements fit in widgets.
  select {
    max-width: 100%;
  }
}

.swiper-testimonials {
  width: 100%;
  min-height: 330px;
  padding: 10px 0;
  .swiper-wrapper {
    align-items: center;
  }
  .swiper-slide {
    .box {
      background-color: $white;
      box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.15);
      border-radius: 10px;
      padding: 40px 20px 20px;
      transition: all 0.3s;
      p {
        margin-bottom: 50px;
      }
      h3 {
        color: $black;
        font-size: 30px;
        font-weight: 700;
      }
    }
    &.swiper-slide-active {
      .box {
        padding: 75px 30px 30px;
      }
    }
  }
}

.swiper-partners {
  .swiper-slide {
    cursor: pointer;
    opacity: 0.4;
    transition: all 0.3s;
    .box {
      text-align: center;
    }
    &.swiper-slide-active {
      opacity: 1;
    }
  }
}
